<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tell Me a Better Joke</title>
</head>
<body>
    <h2>Hey I got a joke:</h2>
    <p><%= joke.question %></p>
    <p><%= joke.answer %></p>

    <h2>... ok, but I got a better joke:</h2>
    <p><%= betterjoke %></p>
</body>
</html>